.footer {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../../images/killgreen.jpg");
	background-size: cover;
	height: 250px;
	background-position: center;
}

.footer h2 {
	padding-top: 58px;
	margin-bottom: 10px;
	color: white;
}

.footer p {
	color: white;
	padding-bottom: 10px;
	margin-bottom: 100px;
}

.footer i {
	font-size: 45px;
	margin-bottom: 20px;
	color: white;
}